@import "~/styles/colors.scss";

.inner-wrapper {
  width: 100%;
  height: 100%;

  .modal-title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .description {
    color: $grey-primary;
    text-align: center;
    margin: 0;
  }

  .code-input {
    input {
      width: 68px;
      height: 86px;
      border-radius: 12px;
      border: 2px solid $grey-ash;
      font-family: "Poppins", sans-serif;
      font-size: 48px;
      font-weight: 600;
      text-align: center;

      &:focus {
        border: 2px solid $blue-primary;
      }

      &:not(:first-child) {
        margin-left: 12px;
      }
    }
  }
}
