@import "./Wrapper.scss";

.button {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.02em;
  border: none;
  margin: 0 12px;

  &:not(:first-child) {
    margin-left: 32px;
  }

  &.bg-primary {
    color: $white-flat;
  }

  img {
    height: 28px;
  }
}
