@import "./Wrapper.scss";

.button {
  font-size: 19px;
  font-weight: 600;
  font-family: "Poppins";
  border: none;
  margin: 0 8px;

  &.slim {
    padding: 12px 16px !important;

    img {
      height: 28px;
    }
  }

  &:not(:first-child) {
    margin-left: 32px;
  }

  &.bg-primary {
    color: $white-flat;
  }

  img {
    padding-right: 16px;
  }
}
