@import "~/styles/colors.scss";

.comment {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  &:not(:first-child) {
    margin-top: 20px;
  }

  &.my {
    flex-direction: row-reverse;

    .box {
      background-color: $white-background;
    }
  }

  .profile-image {
    width: 42px;
    height: 42px;
    margin: 0 6px;

    .avatar {
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .box {
    border: 1px solid $grey-ash;
    margin: 0px 6px;
    width: initial !important;
    max-width: 540px;

    div {
      font-size: 0.9rem;

      &.head {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .name {
          font-weight: 600;
          font-family: "Poppins", sans-serif;
        }

        .date {
          font-size: 11px;
          color: $grey-primary;
          align-self: flex-end;
          margin-left: 8px;
        }
      }

      &.body {
        margin-top: 4px;
        overflow-wrap: break-word;
      }
    }
  }
}
