@import "~/styles/colors.scss";

.title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
  letter-spacing: -0.02em;
}

.description {
  color: $grey-primary;
  text-align: center;
}

.login {
  align-items: center;
  transition: all 0.3s ease;

  &:hover {
    background-color: $blue-primary;
    color: $white-flat;
    cursor: pointer;
  }

  .text {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
    letter-spacing: -0.02em;
    width: 100%;
  }
}
