@import "~/styles/colors.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 60px;
  z-index: 1000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;

  .content-wrapper {
    position: relative;
    max-width: 480px;
    padding-top: 48px !important;

    .badge {
      position: absolute;
      top: -32px;
      left: 50%;
      right: 0;
      transform: translateX(-50%);
    }

    .go-back {
      position: absolute;
      top: 32px;
      left: 32px;
      right: 0;
      width: 32px;
      height: 32px;
      padding: 4px;

      &:hover {
        background-color: $grey-silver;
        cursor: pointer;
        border-radius: 50%;
      }
    }
  }
}
