@import "~/styles/colors.scss";

.navbar {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 260px;
  height: 100%;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  border-right: 1px solid $grey-silver;

  > :not(:first-child) {
    margin-top: 60px;
  }

  .logo {
    img {
      height: 28px;
    }
  }

  .material {
    width: 100%;
    height: 64px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px dashed #ff2116;

    &:hover {
      background-color: #fff5f5;
    }

    img {
      height: 100%;
    }

    .text {
      display: column;
      align-items: flex-start;
      margin-left: 16px;
      font-family: "Poppins", sans-serif;
      font-size: 0.8rem;
      font-weight: 400;

      > div:first-child {
        color: $grey-primary;
      }

      .title {
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-width: 100%;
        line-height: 1.3;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }
    }
  }

  .course-select {
    justify-content: space-between;

    &:hover {
      background-color: $grey-silver;
      cursor: pointer;
    }

    .course-code {
      font-size: 0.9rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: $grey-primary;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .course-title {
      font-size: 0.9rem;
      font-family: "Poppins", sans-serif;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .divider {
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid $grey-silver;
  }

  .logout {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.02em;
    width: 100%;
    margin-top: 20px;

    &:hover {
      background-color: $grey-silver;
      cursor: pointer;
    }

    img {
      height: 24px;
    }
  }
}
