@import "~/styles/colors.scss";

.navbar {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 320px;
  padding-top: 64px !important;
  padding-bottom: 64px !important;

  > :not(:first-child) {
    margin-top: 48px;
  }

  .course-select {
    &:hover {
      background-color: $grey-silver;
      cursor: pointer;
    }

    .course-code {
      font-size: 15px;
      font-weight: 500;
      font-family: "Poppins";
      color: $grey-primary;
    }

    .course-title {
      font-family: "Poppins";
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .divider {
    width: 100%;
    padding-top: 24px;
    border-bottom: 1px solid $grey-silver;
  }

  .logout {
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
    font-family: "Poppins";
    width: 100%;
    margin-top: 24px;

    &:hover {
      background-color: $grey-silver;
      cursor: pointer;
    }
  }
}
