@import "~/styles/colors.scss";

.navbar {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 260px;
  height: 100%;
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  border-right: 1px solid $grey-silver;

  > :not(:first-child) {
    margin-top: 48px;
  }

  .logo {
    img {
      height: 34px;
    }
  }

  .course-select {
    justify-content: space-between;

    &:hover {
      background-color: $grey-silver;
      cursor: pointer;
    }

    .course-code {
      font-size: 0.9rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: $grey-primary;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .course-title {
      font-size: 0.9rem;
      font-family: "Poppins", sans-serif;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .divider {
    width: 100%;
    padding-top: 24px;
    border-bottom: 1px solid $grey-silver;
  }

  .logout {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.02em;
    width: 100%;
    margin-top: 24px;

    &:hover {
      background-color: $grey-silver;
      cursor: pointer;
    }

    img {
      height: 24px;
    }
  }
}
