@import "./Wrapper.scss";

.nuxt-link-exact-active {
  color: $white-flat !important;
  background-color: $blue-primary !important;
  box-shadow: 0px 4px 8px #00000029;
}

.nav-item {
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: 600;
  font-family: "Poppins";
  width: 100%;

  &:not(.nuxt-link-exact-active):hover {
    background-color: $grey-silver;
  }

  &:not(:first-child) {
    margin-top: 32px !important;
  }
}
