@import "~/styles/colors.scss";

.objective-list {
  position: sticky;
  top: 109px;
  width: 100%;
  max-width: 280px;
  margin-left: 48px !important;
  height: fit-content;

  .title {
    display: flex;
    align-items: center;

    img {
      height: 32px;
      padding-right: 12px;
    }

    span {
      font-size: 25px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
    }
  }
}
