@import "~/styles/colors.scss";

.objective-list {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 250px;
  margin-left: 36px !important;
  height: fit-content;

  .title {
    display: flex;
    align-items: center;

    img {
      height: 28px;
      padding-right: 12px;
    }

    span {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      letter-spacing: -0.02em;
    }
  }
}
