@import "~/styles/colors.scss";

.objective-item {
  display: flex;
  align-items: center;

  .progress-count {
    font-weight: 500;
    color: $blue-primary;
  }

  img {
    height: 64px;
  }

  span {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-left: 16px;
  }
}
