@import "~/styles/colors.scss";

.participant-list {
  display: flex;
  flex-flow: column nowrap;
  min-height: 200px;
  padding: 24px 0 0 0 !important;
  margin-top: 24px !important;

  .title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 0 24px;
  }

  .table {
    margin-top: 24px;

    th,
    td {
      border-top: 1px solid $grey-silver;
    }

    thead th {
      background-color: $white-background;
      font-size: 14px;
      font-weight: 500;
      color: $grey-primary;
      text-transform: uppercase;
      padding: 12px 24px;

      &:first-child {
        padding-left: 48px;
        padding-right: 48px;
      }
    }
  }
}
