.participant-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 472px;
  margin-top: 24px !important;

  .scroll-area {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 16px;
  }
}
