@import "~/styles/colors.scss";

.participant-list {
  display: flex;
  flex-flow: column nowrap;
  min-height: 189px;
  padding: 20px 0 0 0 !important;
  margin-top: 24px !important;

  .title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: -0.01em;
    padding: 0 24px;

    span {
      &.complete {
        color: $green-primary;
      }

      &.in-progress {
        color: $blue-primary;
      }

      &.not-started {
        color: $grey-primary;
      }

      &.divider {
        font-weight: 400;
        color: $grey-ash;
      }
    }
  }

  .table {
    margin-top: 20px;

    th,
    td {
      border-top: 1px solid $grey-silver;
    }

    thead th {
      background-color: $white-background;
      font-size: 0.8rem;
      font-weight: 500;
      color: $grey-primary;
      text-transform: uppercase;
      padding: 12px 24px;
      letter-spacing: 0.025em;

      &:first-child {
        padding-left: 48px;
        padding-right: 48px;
      }

      .goal {
        font-weight: 400;
      }
    }
  }
}
