@import "~/styles/colors.scss";

.quiz-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 60px;
  z-index: 2000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;

  .outer-wrapper {
    .inner-wrapper {
      .form-wrapper {
        width: 720px;

        form {
          width: 100%;

          > * {
            width: 100%;

            &:not(:first-child) {
              margin-top: 24px;
            }
          }

          .title {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            margin-bottom: 4px;
          }

          textarea {
            width: 100%;
            border: 1px solid $grey-ash;
            padding: 8px 12px;
            resize: none;
            font-family: "Poppins", sans-serif;
            font-size: 0.9rem;
            border-radius: 6px;
            transition: border 0.2s ease;

            &:focus {
              border: 1px solid $blue-primary;
            }

            &::-webkit-scrollbar {
              display: none;
            }
          }

          .answer-list {
            .answer-item {
              position: relative;
              display: flex;
              align-items: center;
              padding: 8px 12px;
              margin-bottom: -1px;
              background-color: #ffffff;
              border: 1px solid #888888;

              &:first-child {
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
              }

              &:last-child {
                margin-bottom: 0;
                border-bottom-right-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
              }

              &.ghost {
                opacity: 0.5;
                background: $blue-light;
              }

              .handle {
                margin-right: 12px;
                cursor: move;
              }
            }
          }
        }
      }
    }
  }
}

.button {
  margin-top: 35px;
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
