@import "~/styles/colors.scss";

tr {
  &:hover {
    background-color: $white-background;
    cursor: pointer;

    td.question {
      .text {
        color: $blue-primary;
      }
    }
  }

  td {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 16px;
    border-top: 1px solid $grey-silver;

    &:first-child {
      padding-left: 28px;
      padding-right: 28px;
    }

    &:nth-child(2) {
      padding-left: 0;
    }

    &:last-child {
      min-width: 130px;
    }

    &.quiz-id {
      color: $grey-primary;
    }

    &.question {
      max-width: 480px;

      .text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: "Roboto", sans-serif;
      }

      .tags {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 8px;
      }
    }

    .author {
      div {
        font-size: 14px;

        &.profile-image {
          display: flex;
          width: 18px;
          height: 18px;

          .avatar {
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        &.name {
          display: inline-block;
          padding-left: 6px;
        }

        &.date {
          font-family: "Roboto", sans-serif;
          color: $grey-primary;
        }
      }
    }
  }
}
