@import "~/styles/colors.scss";

.quiz-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 2000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;

  .outer-wrapper {
    .inner-wrapper {
      .content-input {
        width: 720px;

        > div:not(:first-child) {
          margin-top: 20px;
        }

        .question-text {
          font-weight: 500;
          border: 1px solid $grey-ash;
        }

        .question-image {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          max-height: 300px;
          position: relative;
          overflow: hidden;
          border: 1px solid $grey-silver;

          &:hover {
            .overlay {
              opacity: 0.5;
              cursor: pointer;
            }
          }

          .overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $black-primary;
            opacity: 0;

            img {
              height: 64px;
            }
          }

          > img {
            width: 100%;
          }
        }

        .answer-list {
          display: flex;
          flex-flow: column nowrap;

          .answer-item {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 6px 12px;
            border-radius: 6px;

            &.correct {
              background-color: $green-light;
              transition: all 0.5s ease;
            }

            &.wrong {
              background-color: $red-light;
              transition: all 0.5s ease;
            }

            &:not(.correct):not(.wrong):hover {
              background-color: $white-background;
            }

            &:hover {
              cursor: pointer;
            }

            &:not(:first-child) {
              margin-top: 2px;
            }

            .answer-text {
              margin-left: 12px;
            }
          }
        }

        .explanation {
          border: 2px solid $blue-primary;

          .exp-title {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            font-weight: 600;
            font-family: "Poppins", sans-serif;

            img {
              height: 20px;
              margin-right: 8px;
            }
          }

          .exp-text {
            margin-top: 8px;
          }
        }
      }
    }
  }
}

.button {
  margin-top: 35px;
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.list-group {
  min-height: 20px;
}
.list-group-item {
  cursor: move;
}
.list-group-item i {
  cursor: pointer;
}
