@import "~/styles/colors.scss";

.quiz-list {
  display: flex;
  flex-flow: column nowrap;
  padding: 24px 0 0 0 !important;

  .action-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    .search {
      position: relative;
      width: 100%;
      max-width: 420px;

      img {
        position: absolute;
        top: 11px;
        left: 12px;
        width: 28px;
      }

      input {
        width: 100%;
        border: 1px solid $grey-ash;
        border-radius: 12px;
        padding: 12px 12px 12px 52px;
        font-family: "Poppins", sans-serif;

        &:focus {
          border: 1px solid $blue-primary;
        }
      }
    }

    .create-quiz {
      margin: 0 !important;
    }
  }

  .table {
    margin-top: 24px;

    th,
    td {
      border-top: 1px solid $grey-silver;
    }

    thead th {
      background-color: $white-background;
      font-size: 0.9rem;
      font-weight: 500;
      color: $grey-primary;
      text-transform: uppercase;
      padding: 12px 16px;

      &:first-child {
        padding-left: 28px;
        padding-right: 28px;
      }

      &:nth-child(2) {
        padding-left: 0;
      }

      &:last-child {
        min-width: 130px;
      }
    }
  }
}
