@import "~/styles/colors.scss";

.inner-wrapper {
  width: 100%;

  .modal-title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .course-item {
    justify-content: space-between;

    &:hover {
      background-color: $grey-silver;
      cursor: pointer;
    }

    .course-metadata span {
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: $grey-primary;
    }

    .course-title {
      font-family: "Poppins", sans-serif;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .add-course {
    border: 1px dashed $grey-primary;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: $grey-primary;

    &:hover {
      background-color: $white-background;
      border: 1px solid $blue-primary;
      cursor: pointer;

      #path_69 {
        fill: $blue-primary;
      }

      span {
        color: $blue-primary;
      }
    }
  }
}
