@import "~/styles/main.scss";

.wrapper {
  width: 100%;
  margin: 0;
  background-color: $white-flat;
}

@for $i from 0 through 6 {
  .px-#{$i} {
    padding-left: $i * 4px;
    padding-right: $i * 4px;
  }

  .py-#{$i} {
    padding-top: $i * 4px;
    padding-bottom: $i * 4px;
  }
}

.bg-primary {
  color: $white-flat;
  background-color: $blue-primary;
}

.bg-transparent {
  background-color: transparent;
}

.rounded {
  border-radius: 12px;
}

.shadow {
  box-shadow: 0px 4px 8px #00000029;
}
