/****************** BRAND COLORS ******************/
$white-flat: #ffffff; /* rgba(255, 255, 255, 1) */
$white-background: #f2f5f8; /* rgba(242, 245, 248, 1) */
$grey-silver: #e4e8eb; /* rgba(238, 238, 238, 1) */
$grey-ash: #cccccc; /* rgba(204, 204, 204, 1) */
$grey-primary: #888888; /* rgba(136, 136, 136, 1) */
$black-primary: #262626; /* rgba(38, 38, 38, 1) */

$blue-primary: #3d73dd; /* rgba(61, 115, 221, 1) */
$blue-light: #e1e9ff; /* rgba(225, 233, 255, 1) */

$green-primary: #06c71f; /* rgba(6, 199, 31, 1) */

$orange-light: #fff4e6; /* rgba(255, 244, 230, 1) */

/****************** EXTERNAL BRAND COLORS ******************/
// Social Media
$brand-twitter: #1da1f2;
$brand-github: #24292e;
