/****************** BRAND COLORS ******************/
$white-flat: #ffffff;
$white-background: #f2f5f8;
$grey-silver: #e4e8eb;
$grey-ash: #cccccc;
$grey-primary: #888888;
$black-primary: #262626;

$blue-primary: #3d73dd;
$blue-light: #e1e9ff;

$green-primary: #06bc1e;
$green-light: #9be4a5;

$red-primary: #e64040;
$red-light: #f5b3b3;

$orange-light: #fff4e6;
