/****************** B-HARVEST BRAND COLORS ******************/
$bh-white: #ffffff; /* rgba(255, 255, 255, 1) */
$bh-snow: #f3f4f5; /* rgba(243, 244, 245, 1) */

$bh-ghost: #e9e9ea; /* rgba(233, 233, 234, 1) */
$bh-silver: #c7c8ca; /* rgba(199, 200, 202, 1) */
$bh-moon: #a5a6a9; /* rgba(165, 166, 169, 1) */
$bh-grey: #838589; /* rgba(131, 133, 137, 1) */

$bh-coal: #1e2129; /* rgba(30, 33, 41, 1) */
$bh-pitch: #0c0d10; /* rgba(12, 13, 16, 1) */

$bh-red-light: #fb8777; /* rgba(251, 135, 119, 1) */
$bh-red: #fa543e; /* rgba(250, 84, 62, 1) */

$bh-orange-light: #ffc355; /* rgba(255, 195, 85, 1) */
$bh-orange: #ffaa0d; /* rgba(255, 170, 13, 1) */

$bh-green-light: #53d2a4; /* rgba(83, 210, 164, 1) */
$bh-green: #0abf7e; /* rgba(10, 191, 126, 1) */

$bh-blue-light: #65a2f6; /* rgba(101, 162, 246, 1) */
$bh-blue: #247bf2; /* rgba(36, 123, 242, 1) */

/****************** EXTERNAL BRAND COLORS ******************/
// Social Media
$brand-twitter: #1da1f2;
$brand-github: #24292e;

// Blockchains
$brand-band: #516ffa;
$brand-chainlink: #2a5ada;
$brand-cosmos: #161931;
$brand-cosmwasm: #f186df;
$brand-e-money: #1e5877;
$brand-iris: #7a41ff;
$brand-kava: #ff564f;
$brand-okexchain: #5895f2;
$brand-persistence: #e50913;
$brand-polkadot: #e6007a;
$brand-terra: #2043b5;
$brand-secret-network: #000000;
