/****************** IMPORT DEPENDENCIES ******************/
@import "./reboot.scss";
@import "./mixins.scss";
@import "./typography.scss";
@import "./colors.scss";

/****************** GLOBAL STYLE ******************/
html {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $black-primary;
  font-size: $font-size-base;
  height: 100%;
}

body {
  margin: 0;
  background-color: $white-background;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black-primary, 0);
  height: 100%;
}

#__nuxt,
#__layout {
  height: 100%;
}

button {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}

:focus {
  outline: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $grey-ash;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $grey-ash;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $grey-ash;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $grey-silver;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue-primary;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue-primary;
}

/****************** CUSTOM CLASSES ******************/

.fs-15 {
  font-size: 15px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.keep-word {
  word-break: keep-all;
  word-wrap: break-word;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.row-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.column-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100% !important;
}

.text-center {
  text-align: center !important;
}

/****************** V-TOOLTIP ******************/

.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    font-size: 0.8rem;
    border-radius: 16px;
    padding: 3px 8px 2px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 6px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -4px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, 0.1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}
