/****************** IMPORT DEPENDENCIES ******************/
@import "./reboot.scss";
@import "./mixins.scss";
@import "./type.scss";
@import "./colors.scss";

/****************** GLOBAL STYLE ******************/
body {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $black-primary;
  margin: 0;
  font-size: $font-size-base;
  background-color: $white-background;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black-primary, 0);
}

button {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}

:focus {
  outline: none !important;
}

/****************** CUSTOM CLASSES ******************/

.fs-15 {
  font-size: 15px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.keep-word {
  word-break: keep-all;
  word-wrap: break-word;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.row-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.column-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100% !important;
}

/****************** SCROLLBAR STYLE OVERRIDE ******************/

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $grey-silver;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue-primary;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue-primary;
}

/********************** VUE TRANSITION **********************/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
